## info
- *tree trimming*: profiles instantly verify right now — Eric
  [r2 2026-10-23](https://www.loom.com/share/ebbbd994c4a04b8089375226cb930b24?t=1322)
